body {
  margin: 0;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
  padding: 10px 40px;
}

.slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
  margin-bottom: 15px;
}
  
.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 200px;
  top: -5px;
  cursor: pointer;
}

#slider-blue .thumb {
  background: blue;
}

#slider-red .thumb {
  background: red;
}

#slider-green .thumb {
  background: green;
}

.btn {
  padding: 10px 20px;
}